.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 100px;
    border: #E0A64B 2px solid;
    border-radius: 50%;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #251A18;
    font-size: 18px;
}

.navLinks li {
    position: relative;
}

.navLinks li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -4px;
    height: 2px;
    background: #9C1F2B;
    transition: right 0.3s;
}

.navLinks li:hover::after {
    right: 0;
}

.navLinks a.active {
    color: #9C1F2B;
}

.navLinks li:has(a.active)::after {
    right: 0;
}

.navRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #251A18;
    border: 1px solid #9C1F2B;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background: #FBF6F1
}

.cart {
    position: relative;
}

.dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #9C1F2B;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}